#include <windows.h> // STYLE, FONT...

34003 DIALOG 0, 0, 320, 256
STYLE WS_CAPTION | DS_CENTER | DS_3DLOOK | DS_SETFONT // | WS_POPUP | WS_SYSMENU | DS_MODALFRAME | WS_VISIBLE //
//CAPTION ""
FONT 8, "Ms Shell Dlg 2"
{
	LISTBOX 12345, 0, 0, 320, 240, WS_TABSTOP | WS_VSCROLL | LBS_NOTIFY // | LBS_SORT
	DEFPUSHBUTTON "OK", IDOK, 0, 240, 160, 16, 0
	PUSHBUTTON "Cancel", IDCANCEL, 160, 240, 160, 16, 0
}

34004 DIALOG 0, 0, 320, 32
STYLE WS_CAPTION | DS_CENTER | DS_3DLOOK | DS_SETFONT // | WS_POPUP | WS_SYSMENU | DS_MODALFRAME | WS_VISIBLE //
//CAPTION ""
FONT 8, "Ms Shell Dlg 2"
{
	EDITTEXT 12345, 0, 0, 320, 16, ES_AUTOHSCROLL
	DEFPUSHBUTTON "OK", IDOK, 0, 16, 160, 16, 0
	PUSHBUTTON "Cancel", IDCANCEL, 160, 16, 160, 16, 0
}

34005 DIALOG 0, 0, 120, 12
STYLE WS_CAPTION | DS_CENTER | DS_3DLOOK | DS_SETFONT // | WS_POPUP | WS_SYSMENU | DS_MODALFRAME | WS_VISIBLE //
//CAPTION ""
FONT 12, "Ms Shell Dlg 2"
{
	CTEXT "", 12345, 0, 1, 120, 10
}
