#include <windows.h> // STYLE, FONT...

34003 DIALOG 0, 0, 320, 256
STYLE WS_VISIBLE | WS_POPUP | WS_SYSMENU | DS_3DLOOK | DS_CENTER | WS_CAPTION | DS_SHELLFONT // | WS_THICKFRAME
//CAPTION ""
FONT 8, "Ms Shell Dlg 2"
{
	LISTBOX 12345, 0, 0, 320, 240, WS_TABSTOP | WS_VSCROLL | LBS_NOTIFY // | LBS_SORT, WS_EX_LEFT
	DEFPUSHBUTTON "OK", IDOK, 0, 240, 160, 16, 0 // , WS_EX_LEFT
	PUSHBUTTON "Cancel", IDCANCEL, 160, 240, 160, 16, 0 // , WS_EX_LEFT
}

34004 DIALOG 0, 0, 320, 32
STYLE WS_VISIBLE | WS_POPUP | WS_SYSMENU | DS_3DLOOK | DS_CENTER | WS_CAPTION | DS_SHELLFONT // | DS_MODALFRAME
//CAPTION ""
FONT 8, "Ms Shell Dlg 2"
{
	EDITTEXT 12345, 0, 0, 320, 16, ES_AUTOHSCROLL // , WS_EX_LEFT
	DEFPUSHBUTTON "OK", IDOK, 0, 16, 160, 16, 0 // , WS_EX_LEFT
	PUSHBUTTON "Cancel", IDCANCEL, 160, 16, 160, 16, 0 // , WS_EX_LEFT
}
